

.container {
  max-height: 450px;
  min-height: 350px;
  height: 100%;

}
.project_item {
  background: #1d1d1d;
  display: inline-block;
  margin: 10px;
  max-width: 280px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  transition: all 0.35s ease;
  height: 100%;
}
.project_item img{
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.3;
  transition: all 0.35s ease;
}

figcaption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13%;
  right: 13%;
  border: 1px solid rgba(239,239,239,0.8);
  border-width: 0 1px;
  background-color: rgba(29,29,29,0.2);
  color:white;
  transition: all 0.35s ease-in-out;
}
.project_subtitle {
  color: white;
  font-size: 2.3rem;
  
}


.project_item:hover img{
  opacity: 0.09;
  transform: scale(1.1);
}
.project_item:hover figcaption {
  border-width: 1px 1px;
}
.project_item:hover .code {
  color: orange;
}
.project_item:hover .code span {
  color: orange;
}